{% extends 'monitoring/base.html' %}

{% block content %}

<h1>Alertes détectées</h1>

<table class="table table-danger table-striped">

    <tr>
        <th>Capteur</th>
        <th>Message</th>
        <th>Niveau</th>
        <th>Date</th>
    </tr>

    {% for alert in alerts %}
    <tr>
        <td>{{ alert.sensor.name }}</td>
        <td>{{ alert.message }}</td>
        <td>{{ alert.danger_level }}</td>
        <td>{{ alert.created_at }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}