{% extends 'monitoring/base.html' %}

{% block content %}

<h1>Liste des capteurs</h1>

<a href="/add-sensor/" class="btn btn-primary mb-3">
    Ajouter un capteur
</a>

<table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Localisation</th>
        <th>Date</th>
    </tr>
    {% for sensor in sensors %}
    <tr>
        <td>{{ sensor.name }}</td>
        <td>{{ sensor.location }}</td>
        <td>{{ sensor.created_at }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}